<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Real Time Products
    </title>

    <script src="socket.io/socket.io.js"></script>

    <script>
        const socket = io();



        socket.on('productCreated', function newProduct(newProduct) {

            let productElement = document.createElement('li');
            productElement.textContent = newProduct.title;
            productElement.id = 'product-' + newProduct.id;
            document.getElementById('productList').appendChild(productElement);

        });

        socket.on('productDeleted', function (deletedProduct) {
            let productElement = document.getElementById('product-' + deletedProduct.id);
            if (productElement) {
                productElement.remove();
            }
        });
    </script>
    <style>
        .textColor {
            transition: all 0.5s;
        }

        .textColor:hover {
            color: red;
            font-weight: bolder;
            background-color: black;
            cursor: pointer;
        }
    </style>

</head>

<body style="background-color: beige;">
    <h1 class="text-center p-5 bg-success mb-5 text-light fw-bolder" style="text-shadow: 5px 7px 4px black;">Real Time
        Products</h1>

    <ul id="productList" class="text-center my-5" style="list-style: decimal;">

        {{#each products}}
        <li class="py-3 textColor" id="product-{{this.id}}"> {{this.title}} </li>
        <hr />
        {{/each}}
    </ul>


    </div>



</body>

</html>